<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Categoria</title>
</head>
<body>
    <h2>Formulário de Categoria</h2>

    <form method="post" th:object="${categoria}" th:action="@{/categorias/salvar}">
        <input type="hidden" th:field="*{id}"/>

        <label>Nome:</label>
        <input type="text" th:field="*{nome}"/><br/>

        <button type="submit">Salvar</button>
    </form>

    <br/>

    <!-- Link para voltar à lista de categorias -->
    <a href="/categorias">Voltar para Lista de Categorias</a>
</body>
</html>
